#container-product {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 4.4em;
}
  
#container-product main {
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -6.2rem auto 3.2rem;
    padding-top: 2.4rem;
}
  
#container-product fieldset {
    border: none;
    padding: 0 2.4rem;
  }
  
  #container-product fieldset legend {
    font: 700 2.4rem 'Titillium Web', sans-serif;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
  }
  
  #container-product fieldset legend button {
    background: none;
    border: 0;
    color: var(--color-primary);
    font: 700 1.6rem 'Titillium Web', sans-serif;
    cursor: pointer;
    transition: 0.2s;
  }
  
  #container-product fieldset legend button:hover {
    transform: translateY(-5px);
    color: var(--color-primary-dark);
  }
  
  #container-product fieldset + fieldset {
    margin-top: 6.4rem;
  }
  
  #container-product .input-block + .input-block,
  .input-block + .textarea-block,
  .select-block + .input-block {
    margin-top: 2.4rem;
  }

  #container-product .textarea-block textarea {
    padding: 1.2rem 1.6rem;
    height: 16rem;
    resize: vertical;
}
  
  #container-product main footer {
    padding: 4rem 2.4rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 6.4rem;
  }
  
  #container-product main p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
  }
  
  #container-product main p img {
    margin-right: 2rem;
  }
  
  #container-product main footer button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem 'Titillium Web', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 3.2rem;
  }
  
  #container-product main footer button:hover {
    background: var(--color-secondary-dark);
  }
  
  #container-product .schedule-item + .schedule-item {
    margin-top: 3.2rem;
    padding-top: 3.2rem;
    border-top: 1px solid var(--color-line-in-white);
  }
  
@media (min-width: 700px) {
    #container-product {
      max-width: 100vw;
    }
  
     .page-header .header-content {
      margin-bottom: 0;
    }
  
    #container-product main fieldset {
      padding: 0 64px;
    }
  
    #container-product .schedule-item {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      column-gap: 1.6rem;
    }

    #container-product .select-block + .input-block,
     .input-block + .input-block {
      margin-top: 0;
    }
  
    #container-product main footer {
      padding: 40px 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #container-product main footer button { 
      margin-top: 0;
      width: 200px;
    }
}

.select-block label,
.input-block label,
.textarea-block label {
  font-size: 1.4rem;
  color: var(--color-text-complement);
}

.select-block select,
.input-block input,
.textarea-block textarea {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem 'Titillium Web', sans-serif;
}

.textarea-block textarea{
  padding: 1.2rem 1.6rem;
  height: 16rem;
  resize: vertical;;
}

.input-block,
.textarea-block {
  position: relative;
}

.input-block:focus-within::after ,
.textarea-block:focus-within::after{
  content: "";
  width: calc(100% - 3.2rem);
  height: 2px;
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  bottom: 0;
}

label small {
  font-size: 1.2rem;
  padding-left: 1.2rem;
  color: var(--color-small-info);
}